<h1> Welcome </h1>


<% if user_signed_in? %>
  <button type="button" class="btn btn-dark">
    <%= link_to "Show Form", admissions_path %>
  <button>
<% else %>
  <button type="button" class="btn btn-dark">
    <%= link_to "Form", admissions_path %>
  <button>
<% end %>